#empleados-buscar-container,
#empleados-container {
    margin-top: 100px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
    float: left;
    margin-bottom: 20px;
    color: white;
    background-color: #0D6EFD;
}

.search-label {
    float: left;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.sr-only {
    font-size: 0;
}

.nav-item {
    /* border: 2px solid #0D6EFD; */
    border-radius: 10px;
    outline-offset: 2px;
    outline: 2px solid #0D6EFD;
    margin: 20px;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-item:hover {
    background-color: rgba(0, 136, 255, 0.5);
    color: black;
    transition: all 0.2s ease-in;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} */

.form-control {
    /* width: 130%; */
    border: 2px solid #0582ff;
    color: #0582ff;
}

.form-control::placeholder {
    color: #0D6EFD;
}

.form-control:focus {
    color: #0d6efd;
}

.react-bootstrap-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}