#login-container {
    margin-top: 35%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container h2 {
    color: #0D6EFD;
    margin-bottom: 20px;
}

#login-container button {
    margin-top: 15px;
}

#login-container .form-label {
    float: left;
    display: flex;
    font-size: 25px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    fontSize: 20px;
}

button {
    outline: 1px solid #0D6EFD;
    outline-offset: 2px;
}