html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/cool-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#login-container {
    margin-top: 30%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/cool-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container h2 {
    color: #0D6EFD;
    margin-bottom: 20px;
}

#login-container button {
    margin-top: 15px;
}

#login-container .form-label {
    float: left;
    display: flex;
    font-size: 25px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    fontSize: 20px;
}

button {
    outline: 1px solid #0D6EFD;
    outline-offset: 2px;
}

.pie {
    color: #0D6EFD;
    font-size: 15px;
    font-weight: bold;
}

/* Cambiar el color del label */
.form-floating>label {
    color: #0D6EFD;
}

/* Cambiar el color del placeholder */
.form-floating>.form-control:not(:placeholder-shown) {
    color: darkblue;
}

/* Cambiar el color del selector del mouse caret */
input {
    caret-color: #0D6EFD;
}